//- Pug (previously known as Jade) is a
//- templating language for HTML.
//- It allows us to write HTML concisely
//- with variables from the server interpolated
//- in the response.

//- We can render a HTTP response that uses a Pug template
//- with express's res.render('template-name') for example
//- res.render('index', context) for this file.
//- See: http://expressjs.com/en/4x/api.html#res.render

//- Details on the Pug language are on the Jade Lang website.
//- See: http://jade-lang.com/

html
  head
    title #{user}'s Courses

  body
    h3 #{user}'s Courses

    ul
      each course in courses
        li #{course.code}: #{course.name}

    form(method="post")
      label Course Name
        input(type="text", name="name")
      label Course Code
        input(type="text", name="code")
      input(type="submit")
